In [2]:
import pandas as pd

# Extraction of Data

In [3]:
Business_account = pd.read_excel("../shared_data_read_only/Business Account.xlsx")
Consumer_price_index = pd.read_excel("../shared_data_read_only/consumer_price_index.xlsx")
Contacts = pd.read_excel("../shared_data_read_only/Contacts.xlsx")
Data_dictionary = pd.read_excel("../shared_data_read_only/Data dictionary.xlsx")
Invoice_and_opportunities = pd.read_excel("../shared_data_read_only/Invoice and Opportunities.xlsx")
Non_stock_items = pd.read_excel("../shared_data_read_only/Non-Stock Items.xlsx")
Items_and_opportunities = pd.read_excel("../shared_data_read_only/Items and Opportunities.xlsx")
Opportunities = pd.read_excel("../shared_data_read_only/Opportunities.xlsx")

# Business account and Opportunities analysis

In [4]:
Opportunities.head()

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Theorical payment amount 3,Theorical payment date 4,Theorical payment amount 4,Theorical payment date 5,Theorical payment amount 5,Created On,Last Modified Date,Actual Close Date,Assignment Date,Branch ID
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:59:07.310,2023-10-11 10:59:07.310,NaT,2023-10-11 10:58:16.137,SDLV
1,6386,C01254,36240.0,2023-10-11,New,Won,100,9000.0,NaN,-9000.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 10:55:50.773,2023-10-11 10:55:50.773,NaT,2023-10-11 10:53:26.857,SDLV
2,6385,C21512,47640.0,2023-10-11,New,Oral agreement,80,140.0,NaN,-140.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:53:52.533,2023-10-11 08:54:37.860,NaT,2023-10-11 08:52:52.257,SDLV
3,6384,C21509,47636.0,2023-10-11,New,Oral agreement,80,350.0,NaN,-350.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-11 08:42:41.140,2023-10-11 08:42:41.140,NaT,2023-10-11 08:41:27.513,SDLV
4,6383,C21508,47635.0,2023-10-10,New,Oral agreement,80,120.0,NaN,-120.0,...,NaN,NaT,NaN,NaT,NaN,2023-10-10 15:54:31.827,2023-10-10 15:56:12.527,NaT,2023-10-10 15:53:17.550,SDLV

In [5]:
Business_account.head()

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620

In [14]:
col_ba = set(Business_account.columns)
col_ba

{'Activity sector',
 'Business Account',
 'City',
 'Class',
 'Class Name',
 'Country ID',
 'Country Name',
 'Created On',
 'Customer Status',
 'Follow-up with',
 'Last Modified On',
 'Owner Name',
 'Parent Business Account',
 'Partner type',
 'Postal Code',
 'State',
 'Type'}

In [15]:
col_op = set(Opportunities.columns)
col_op

{'Action financée',
 'Actual Close Date',
 'Agreement',
 'Agreement expiry date',
 'Amount received',
 'Assignment Date',
 'Branch ID',
 'Business Account',
 'Campaign Name',
 'Class',
 'Class ID',
 'Contact ID',
 'Created On',
 'Deadline for submission of interim report',
 'Difference',
 'Duration of agreement (months)',
 'Estimated Close Date',
 'Estimated amount',
 'Final report deadline',
 'Follow-up with',
 'Last Modified Date',
 'Opportunity ID',
 'Owner Name',
 'Probability',
 'Programme financé',
 'Signature date of the agreement',
 'Source',
 'Source Campaign',
 'Stage',
 'Status',
 'Theorical payment amount 1',
 'Theorical payment amount 2',
 'Theorical payment amount 3',
 'Theorical payment amount 4',
 'Theorical payment amount 5',
 'Theorical payment date 1',
 'Theorical payment date 2',
 'Theorical payment date 3',
 'Theorical payment date 4',
 'Theorical payment date 5',
 'Type de contrat',
 'Type de financement',
 'Zone SDLV'}

In [17]:
intersection = list(col_op & col_ba)
intersection

['Created On', 'Business Account', 'Class', 'Follow-up with', 'Owner Name']

In [31]:
op_ba = Opportunities.merge(Business_account, on='Business Account', how='left')

In [32]:
Opportunities.shape

(5986, 43)

In [33]:
Business_account.shape

(3483, 17)

In [34]:
op_ba.shape

(5986, 59)

In [54]:
op_ba_won = op_ba.loc[op_ba['Stage'] == 'Won']
display(op_ba_won)

,Opportunity ID,Business Account,Contact ID,Estimated Close Date,Status,Stage,Probability,Estimated amount,Amount received,Difference,...,Parent Business Account,Owner Name_y,Follow-up with_y,Postal Code,City,State,Country ID,Country Name,Created On_y,Last Modified On
0,6387,C00037,35334.0,2023-11-27,New,Won,100,9000.00,NaN,-9000.00,...,NaN,29.0,25.0,69001,LYON,NaN,FR,France,2021-02-02 15:35:25.690,2023-10-10 17:02:23.207
1,6386,C01254,36240.0,2023-10-11,New,Won,100,9000.00,NaN,-9000.00,...,NaN,15.0,25.0,69007,LYON,NaN,FR,France,2021-03-08 14:42:00.137,2023-10-10 17:52:08.003
22,6365,C18115,46338.0,2023-10-25,Won,Won,200,150.00,NaN,-150.00,...,NaN,24.0,NaN,69009,LYON,NaN,FR,France,2023-04-11 16:21:46.003,2023-04-17 11:24:20.093
41,6346,C00510,36067.0,2023-11-10,New,Won,100,1047.81,NaN,-1047.81,...,NaN,7.0,6.0,75008,PARIS,NaN,FR,France,2021-02-02 15:37:11.600,2023-07-19 16:36:54.977
49,6338,C00366,37931.0,2023-11-15,Won,Won,100,756.00,NaN,-756.00,...,NaN,29.0,13.0,69009,LYON,NaN,FR,France,2021-02-02 15:36:42.337,2023-09-25 11:50:48.430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,5,C00036,NaN,2020-01-01,Won,Won,100,1059.00,NaN,-1059.00,...,NaN,26.0,19.0,75382,PARIS CEDEX 08,NaN,FR,France,2021-02-02 15:35:25.500,2023-08-04 09:10:12.213
5982,4,C00024,NaN,2020-01-01,Won,Won,200,7500.00,7500.0,0.00,...,NaN,28.0,25.0,75007,PARIS,NaN,FR,France,2021-02-02 15:35:21.780,2023-09-26 12:06:19.703
5983,3,C00011,NaN,2020-01-01,Won,Won,100,35000.00,NaN,-35000.00,...,NaN,37.0,6.0,92445,ISSY-LES-MOULINEAUX,NaN,FR,France,2021-02-02 15:35:15.180,2023-09-27 15:06:45.433
5984,2,C00331,NaN,2020-01-01,Won,Won,100,20000.00,NaN,-20000.00,...,NaN,29.0,NaN,84200,CARPENTRAS,NaN,FR,France,2021-02-02 15:36:35.497,2023-07-19 10:52:05.340
5985,1,C00331,NaN,2020-01-01,Won,Won,100,10000.00,NaN,-10000.00,...,NaN,29.0,NaN,84200,CARPENTRAS,NaN,FR,France,2021-02-02 15:36:35.497,2023-07-19 10:52:05.340

* Percentage of winnong opportunities : 68,53%

* The number of different business account with won opportunities

In [50]:
nb_business = op_ba_won['Business Account'].nunique()
display(nb_business)

1326

In [53]:
op_ba_won['Amount received']

0          NaN
1          NaN
22         NaN
41         NaN
49         NaN
         ...
5981       NaN
5982    7500.0
5983       NaN
5984       NaN
5985       NaN
Name: Amount received, Length: 4102, dtype: float64

In [52]:
op_ba_won.describe()['Amount received']

count    2.168000e+03
mean     1.850957e+04
std      7.047430e+04
min      0.000000e+00
25%      1.000000e+03
50%      4.236500e+03
75%      1.000000e+04
max      1.400000e+06
Name: Amount received, dtype: float64

In [56]:
op_ba_won['City'].unique()

array(['LYON', 'PARIS', 'MONS EN BAROEUL', 'PARIS CEDEX 08',
       'IVRY-SUR-SEINE', 'Lyon', 'LA MADELEINE CEDEX', 'GENAS',
       'VALENCIENNES CEDEX 9', 'DOUAI', 'BELLEVILLE-EN-BEAUJOLAIS',
       'EURALILLE', 'ADRESSE NON COMMUNIQUEE', 'ISSY-LES-MOULINEAUX',
       'DARDILLY', "CHAMPAGNE AU MONT-D'OR", 'MARCY L ETOILE', 'REYRIEUX',
       nan, 'GONESSE', 'ROUBAIX', 'NEW YORK', 'Sainte-Foy-les-Lyon',
       'CERGY', 'Vaulx-en-Velin', 'Villeurbanne', 'LILLE CEDEX',
       'RUEIL MALMAISON', 'CROIX', 'GRENOBLE', 'COURBEVOIE',
       'MASSY CEDEX', 'ROUBAIX CEDEX 1', 'GENTILLY', "VILLENEUVE D'ASCQ",
       'Non renseigné', "Saint Didier au Mont d'or", 'CLICHY CEDEX.',
       'BOBIGNY', 'LYON CEDEX 02', 'NEUILLY SUR SEINE', 'Saint  Priest',
       'SASSENAGE', 'LYON CEDEX 09', 'Rillieux la Pape',
       'BOULOGNE-BILLANCOURT', 'AIX EN PROVENCE', 'ZUG', 'PUTEAUX',
       'LILLE', "VILLENEUVE-D'ASCQ", 'SAINT DENIS', 'Paris',
       'ROISSY EN FRANCE', 'Marseille', 'MARSEILLE', 'BORDEAUX',
       'ADRESSE NON COMMUNIUQEE', 'Rouen', 'ISSY LES MOULINEAUX',
       'ATLANTA', 'SAINT LAURENT BLANGY', 'SAINT CHAMOND',
       'COURBEVOIE CEDEX', 'CALUIRE ET CUIRE', 'BOULOGNE BILLANCOURT',
       'GUYANCOURT', 'SCHILTIGHEIM', 'Montigny le Bretonneux',
       'ANDREZIEUX BOUTHEON', 'SAINT-ETIENNE', 'EVRY CEDEX',
       'SAINT ETIENNE', 'SURESNE', 'Clichy', 'SAINGHIN EN MELANTOIS',
       'VILLEURBANNE', 'MEYZIEU', 'SORGUES', 'VITROLLES', 'MEYZIEU ZI',
       'LYS LES LANNOY CEDEX', 'Washington DC', "VILLEUNEUVE D'ASCQ",
       'GIVORS', 'CORBAS', 'CHAMBERY', 'PEROLS', 'LIMONEST', 'CAVAILLON',
       'LES MENUIRES', 'SAINT JEAN DE MOIRANS', 'LA RAVOIRE', 'CLUSES',
       'LIVRON', 'VITRY SUR SEINE', 'OLIVET', 'VENISSIEUX', 'WASQUEHAL',
       'SOLAIZE', 'Nanterre Cedex', 'PIERRE-BENITE', 'Croix',
       'LYON Cedex 02', 'Marseille Cedex 20', 'LYON CEDEX 03', 'LONDON',
       'BRON', 'ANTONY', 'Sens', 'RUNGIS', 'ATHIS MONS', 'Nemours',
       'Le Plessis-Pâte', 'LE PLESSIS-BELLEVILLE', 'BONDOUFLE CEDEX',
       'ARCUEIL Cedex', 'FLERS EN ESCREBIEUX', 'NEUILLY SUR SEINE CEDEX',
       'Paris La Défense Cedex', 'MARCQ EN BAROEUL',
       "Champagne-Au-Mont-D'or", 'AMPLEPUIS', 'LAMBERSART', 'Grenoble',
       'AIX-EN-PROVENCE', 'VALBONNE', 'AMIENS CEDEX 01', 'SAINT HERBLAIN',
       'FONTAINES SUR SAONE', "Saint Didier au Mont d'Or", 'SARCELLES',
       'ST GENIS LES OLLIERES', 'ONNAING', 'ECULLY', 'Dardilly',
       'La Chambre', 'SAINT-ETIENNE CEDEX 2', 'GRENOBLE CEDEX 09',
       'Bondoufle', 'SAINT-OUEN CEDEX', 'ARRAS', 'VALENCE',
       'Porte-de-Savoie', 'LONDRES', 'MARSEILLE CEDEX 20',
       'TASSIN LA DEMI-LUNE', 'OLLIOULES', 'ALANCON', 'VAUJOURS',
       'PARIS CEDEX 12', 'PARIS CEDEX 15', 'SAINTE GENEVIEVE DES BOIS',
       'MONTROUGE CEDEX', 'CHASSIEU', 'PARIS CEDEX 18', 'Lille',
       'COUDEKERQUE BRANCHE', 'LESTREM', 'MARCQ EN BAROEUL CEDEX',
       'Saint-Genis-Laval', 'Montbonnot Saint Martin',
       'CAMPHIN-EN-PEVELE', 'CROLLES', 'TRAPPES', 'TOURCOING',
       'SAINGHIN-EN-MELANTOIS', 'NEUILLY', 'COLOMBES CEDEX', 'Tassin',
       'CHARVIEU CHAVAGNEUX', 'ELANCOURT', 'RILLIEUX LA PAPE',
       'DÉCINES-CHARPIEU', 'PARIS CEDEX 13', 'EGUILLES', 'MONTLUEL',
       'DECINES CHARPIEU', 'SAINT PRIEST CEDEX', 'ST PRIEST', 'Lyon -',
       'LA GARENNE COLOMBES', 'HENIN-BEAUMONT', 'CALUIRE-ET-CUIRE',
       'MARSEILLE CEDEX 02', 'VAULX-EN-VELIN', 'DRANCY', 'SAINT-DENIS',
       'LA RICAMARIE', 'CAMBRIDGE', 'Montpellier', 'CARVIN',
       'Vulaines sur Seine', 'NANTERRE', 'Neuilly-sur-Seine',
       'MONTÉLIMAR', 'BEZONS', 'Lyoin', 'ST JUST ST RAMBERT', 'MOUVAUX',
       'inconnu', 'Ecully', 'paris', 'FONTENAY SOUS BOIS', 'RIEUX CEDEX',
       'BIEVRES', 'LUXEMBOURG', 'ROUBAIX CEDEX', 'NYON', 'LIMOGES',
       'CLICHY', 'SAINT MANDE', 'CHATILLON', 'La Tour-de-Salvagny',
       'LYON CEDEX 06', 'GENAS Cedex', 'LE VESINET', 'EPINAM',
       'Lyon Cedex 02', 'ANTHIS-MONS', 'MEYLAN', 'LES MUREAUX',
       'VAULX-MILIEU', 'LENTILLY', 'CHATENAY MALABRY', 'COLOMBES',
       'MONTROND LES BAINS', "L' ISLE D'ABEAU", 'LEVALLOIS PERRET',
       'MONTVERDUN', "L'HORME", "CHAMPAGNE AU MONT D'OR",
       'Boulogne Billancourt', 'ASNIERES SUR SEINE CEDEX', 'LA MADELEINE',
       'MONTBONNOT SAINT MARTIN', 'FROME', 'ADRESSE NON COMMMUNIQUEE',
       'NOISY LE GRAND', 'ANDREZIEUX', 'MARLY', 'BOIS COLOMBES CEDEX',
       'Chef-du-Pont', 'BOULOGNE', 'MARSEILLE CEDEX 06',
       'CLICHY CEDEX FRANCE', 'SAINTE FOY LES LYON', 'CHABLY',
       'PIERRE BENITE', 'CRÉTEIL CEDEX', 'CHESSY', 'LYON CEDEX 07',
       'La Madeleine', 'VEAUCHE', 'MONTROUGE', 'Paris la Défense Cédex',
       'ANZIN', 'LE PONT DE CLAIX', 'ARNAS', 'CAEN - CEDEX 9',
       'SAINT GENIS LAVAL', 'ECULLY CEDEX', 'Vélizy-Villacoublay',
       'ROMAINVILLE', 'GARDANNE', 'AUBIERE', 'BOURG LA REINE',
       'SAINT OUEN CEDEX', "VILLENEUVE D'ASCQ CEDEX", 'PANTIN',
       'CHEVILLY-LARUE', 'VOISINS-LE-BRETONNEUX CEDEX', 'THOISSEY',
       'NON COMMUNIQUEE', 'MONTSOULT', 'Darvault', "Saint Ouen l'Aumone",
       'COURCOURONNES', 'CHICAGO', 'CHAMPAGNE AU MONT D OR',
       'VILLIERS-LE-BEL', 'ANNECY', 'BOURG EN BRESSE',
       'SAINT-GENIS-LAVAL', 'FRANCHEVILLE', 'PIERRE-BÉNITE CEDEX',
       'PONTOISE', "SAINT CYR AU MONT D'OR", 'MONTESSON',
       'St Symphorien D’ozon', 'LE CHAMBON FEUGEROLLES', 'MALAKOFF',
       'LACQ', 'VERSAILLES', 'BREAL-SOUS-MONTFORT',
       "Saint-Didier-au-Mont-d'Or", 'Gorze', 'BEAUNE', 'AUBERVILLIERS',
       'PARIS Cedex 19', 'BONDY', 'MARCQ-EN-BAROEUL', 'SAINT-AUPRE',
       'Saint Ouen', 'Versailles', 'CHASSELAY', 'VINCENNES',
       'Louveciennes', 'SAINTE-FOY-LES-LYON', 'OULLINS',
       'LA CELLE SAINT CLOUD', 'BOIS-COLOMBES', 'ASNIERES',
       'LEVALLOIS-PERRET', 'OSNY', 'BAN SAINT MARTIN', 'Malafretaz',
       'Vaucresson', 'London', 'ATHIS-MONS', 'VÉLIZY-VILLACOUBLAY',
       'RICEBORO', 'HARRIMAN', 'BOSTON', 'AURIOL', 'SAINT-OUEN-SUR-SEINE',
       'PONT-EVEQUE', 'MAISONS-ALFORT CEDEX', 'PEAUGRES', 'SAINT-LEU',
       'MANOSQUE', 'SAINT GERMAIN EN LAYE', 'LILLE Cedex', 'Suresnes',
       'SAINT-ORENS-DE-GAMEVILLE', 'TROYES', 'VAULX EN VELIN',
       'Paris 16ème', 'SURESNES', 'CHATOU', 'JARRIE',
       'SAINT CAST LE GUILDO', "SAINT DIDIER AU MONT D'OR", '74370',
       'Chagrin Falls', 'LOMME', 'MOUANS-SARTOUX', 'CEYZERIEU',
       'LA BRIDOIRE', 'LOUVECIENNES', 'SAINT-CLOUD', 'Non rensigné',
       'RILLIEUX-LA-PAPE', 'Saint Etienne', 'BOSTON MA', "L'ISLE D'ABEAU",
       'Nanterre', 'Chartres de Bretagne', 'LA TRONCHE',
       'PARIS LA DEFENSE CEDEX', 'Écully', 'CHAMONIX', 'Annecy',
       'ECHIROLLES', 'VILLEFRANCHE', 'Saint-Etienne', 'Chambéry',
       'ZURICH', 'LEATHERHEAD', 'NANTERRE CEDEX', 'MASSY', 'Saint-Vulbas',
       'SAINT-FONS', 'FONTAINEBLEAU', 'RIS ORANGIS', 'Jouy-en-Josas',
       'ANNECY CEDEX', 'VALENCIENNES CEDEX', 'AMIENS',
       "L'ÎLE-SAINT-DENIS", 'SAINT OUEN', 'Vaulx en Velin', 'Genas',
       'SAINT PRIEST', 'BLAGNAC', 'LES DEUX ALPES', 'LYS LEZ LANNOY',
       'SAINT OUEN SUR SEINE', 'MONTREUIL', 'BLANQUEFORT',
       'LA TOUR EN JAREZ', 'EVRY COURCOURONNES',
       'CS 70014,  MARSEILLE Cedex 03', 'MONTREUIL-SOUS-BOIS',
       'CHARBONNIERES CEDEX', 'Villefranche-sur-Saône', 'ROSNY SOUS BOIS',
       'CHAMBERY CEDEX', 'BEYNOST CEDEX', 'Andrézieu Bouthéon',
       'TASSIN LA DEMI LUNE', 'Bourgoin-Jallieu', 'AVIGNON', 'CARPENTRAS',
       'Marcq en Baroeul', 'SAINT PRIEST EN JARREZ', 'CHEVILLY LARUE',
       'SAINT-LAURENT-BLANGY CEDEX', 'DECINES-CHARPIEU', 'VIENNE',
       'BRIVE LA GAILLARDE', 'LENS CEDEX', 'NEYRON', 'BRUXELLES',
       'Leatherhead', 'SAINT ETIENNE CEDEX 1', 'Guyancourt', 'BERLIN',
       'DEERFIELD', 'New York', 'LOOS CEDEX', 'CHANAS', 'RILLEUX-LA-PAPE',
       'BLENDECQUES', 'MARCY', 'ST GERMAIN NUELLES', 'SAINT-VULBAS',
       'TREMBLAY EN FRANCE', 'LYON CEDEX 3', 'Montagny', 'SAINTE JULIE',
       'NEUILLY CEDEX', 'LITTLE FERRY', 'RUEIL-MALMAISON', 'CREST'],
      dtype=object)