In [1]:
print("Hello World")

Hello World

In [20]:
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in /opt/tljh/user/lib/python3.7/site-packages (2.0.1)

In [17]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /opt/tljh/user/lib/python3.7/site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in /opt/tljh/user/lib/python3.7/site-packages (from openpyxl) (1.1.0)

In [ ]:
!pip install

In [25]:
Business_account = pd.read_excel("shared_data_read_only/Business Account.xlsx")
Consumer_price_index = pd.read_excel("shared_data_read_only/consumer_price_index.xlsx")
Contacts = pd.read_excel("shared_data_read_only/Contacts.xlsx")
Data_dictionary = pd.read_excel("shared_data_read_only/Data dictionary.xlsx")
Invoice_and_opportunities = pd.read_excel("shared_data_read_only/Invoice and Opportunities.xlsx")
Non_stock_items = pd.read_excel("shared_data_read_only/Non-Stock Items.xlsx")
Items_and_opportunities = pd.read_excel("shared_data_read_only/Items and Opportunities.xlsx")
Opportunities = pd.read_excel("shared_data_read_only/Opportunities.xlsx")

In [24]:
Data_dictionary

,Business Account,Unnamed: 1,Unnamed: 2,Unnamed: 3,Contact,Unnamed: 5,Unnamed: 6,Unnamed: 7,Invoice and Opportunities,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Non-Stock Items,Unnamed: 17,Unnamed: 18,Unnamed: 19,Opportunities,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Business Account table,NaN,NaN,NaN,Contact table,NaN,NaN,NaN,Table of invoices linked to opportunities,NaN,...,NaN,NaN,Items/Articles table,NaN,NaN,NaN,Opportunities table,NaN,NaN,NaN
1,Columns,Examples,Description,NaN,Columns,Examples,Description,NaN,Columns,Examples,...,Description,NaN,4,Examples,Description,NaN,Columns,Examples,Examples,Description
2,Business Account,C00011,Business Account ID,NaN,ContactID,35976,Contact ID,NaN,Type,Invoice,...,Opportunity ID,NaN,Inventory ID,CAMP001,Item ID,NaN,Opportunity ID,006287,005923,Opportunity ID
3,Customer Status,Active,Status,NaN,Active,True,Status,NaN,Reference Nbr.,FC0004608,...,Line Nbr. of the item,NaN,Description EN,"Henri LACHMANN room (1/2 day), fully equipped:...",Item Name,NaN,Business Account,C00833,C01406,Business Account ID
4,Type,Customer,The Business account can be also Customer if i...,NaN,Business Account,C00434,Business Account ID,NaN,Customer,C06507,...,Item ID,NaN,Posting Class,CAMPUS,Class of the Item,NaN,Contact ID,35524,NaN,Contact ID
5,Partner type,Partner,Type given by the fundraisers,NaN,Class,04FONDA,Class ID of the contact,NaN,Amount,5000,...,Year in which the amount should be accounted,NaN,Tax Category,TVA 20,Tax Category,NaN,Estimated Close Date,2024-01-04 00:00:00,2023-08-30 00:00:00,Estimated date by which we are supposed to hav...
6,Class,01SIEGE,Class ID of the business account,NaN,Class Name,Foundation,Class Name given by the fundraisers,NaN,Date,2023-10-10 00:00:00,...,Unit Price of the Item,NaN,Base Unit,DEMI J,Base Unit,NaN,Status,New,Won,Status of the Opportunity
7,Class Name,Headquarters,Class Name given by the fundraisers,NaN,Financing preference,"Sponsorship, Gala New York, Jogg dans la ville...",NaN,NaN,Opportunity ID,004504,...,Quantity,NaN,Item Status,Active,Item Status,NaN,Stage,Won,Won,Stage of the opportunity given by the fundraiser
8,Activity sector,HOTEL - CATERING - TOURISM,Activity sector,NaN,Owner,26,Main fundraiser in charge of the contact,NaN,NaN,NaN,...,UOM,NaN,Created On,2021-02-12 02:58:56.990000,Created On,NaN,Probability,200,200,Probability (It looks like the data is not ver...
9,Parent Business Account,NaN,Parent Business Account,NaN,Follow-up with,19,Second fundraiser in charge of the contact,NaN,NaN,NaN,...,Total Price,NaN,Last Modified On,2022-08-23 13:01:01.627000,Last Modified On,NaN,Estimated amount,10000,5217,Estimated amount
10,Owner Name,37,Main fundraiser in charge of the business account,NaN,Postal Code,10022,Postal Code of the Contact,NaN,NaN,NaN,...,Currency,NaN,Default Price,126,Default Price at which we sell the item,NaN,Amount received,NaN,5217,Amount received to date
11,Follow-up with,6,Second fundraiser in charge of the business ac...,NaN,City,NEW YORK,City of the Contact,NaN,NaN,NaN,...,Discount Amount,NaN,NaN,NaN,NaN,NaN,Difference,-10000,0,Difference (Amount we should still receive)
12,Postal Code,92445,Postal Code of the Business Account,NaN,State,NY,State of the Contact,NaN,NaN,NaN,...,"Discount, %",NaN,NaN,NaN,NaN,NaN,Owner Name,29,17,Main fundraiser in charge of the opportunity
13,City,ISSY-LES-MOULINEAUX,City of the Business Account,NaN,Code pays,US,Country ID,NaN,NaN,NaN,...,Program specified in the agreement for the acc...,NaN,NaN,NaN,NaN,NaN,Follow-up with,NaN,NaN,Second fundraiser in charge of the opportunity
14,State,NaN,State of the Business Account,NaN,Country Name,United States of America,Country Name of the Contact,NaN,NaN,NaN,...,Free Item,NaN,NaN,NaN,NaN,NaN,Class ID,PPRIV EVNT,PPUB,Class ID of the opportunity
15,Country ID,FR,Country ID,NaN,Gender,Male,Gender,NaN,NaN,NaN,...,Tax Category,NaN,NaN,NaN,NaN,NaN,Class,Private partnership - Event,Public partnership,Class given by the fundraiser
16,Country Name,France,Country Name of the Business Account,NaN,Client Source,NaN,HelloAsso is a website that allows individuals...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Source,Campaign,NaN,If the opportuny is related to a specific campain
17,Created On,2021-02-02 15:35:15.180000,Created On,NaN,Last Modified On,2021-12-31 13:18:17.857000,Last Modified On,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Source Campaign,000030,NaN,Source Campaign ID
18,Last Modified On,2023-09-27 15:06:45.433000,Last Modified On,NaN,Created On,2021-02-12 04:50:21.513000,Created On,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Campaign Name,2023 - Gala Paris,NaN,Campaign Name
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Programme financé,NaN,Séjours et Camps,Program for which the business account/contact...
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Action financée,NaN,"Camp de vacances, Chabotte",Action(s) for which the business account/conta...
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Agreement,NaN,True,Is there an Agreement
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Signature date of the agreement,NaN,2023-07-27 00:00:00,Signature date of the agreement
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Agreement expiry date,NaN,NaN,Agreement expiry date
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Duration of agreement (months),NaN,NaN,Duration of agreement (months)
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Deadline for submission of interim report,NaN,NaN,Deadline for submission of interim report
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Final report deadline,NaN,NaN,Final report deadline
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Type de contrat,NaN,Convention opération,Type of contract for public donations
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Type de financement,NaN,Fonctionnement,Type of financing
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Zone SDLV,NaN,Pole Paris,Zone for which the business account/contact ac...
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment date 1,NaN,2023-08-15 00:00:00,Theorical payment date 1
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment amount 1,NaN,5217,Theorical payment amount 1
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment date 2,NaN,NaN,Theorical payment date 2
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment amount 2,NaN,NaN,Theorical payment amount 2
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment date 3,NaN,NaN,Theorical payment date 3
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment amount 3,NaN,NaN,Theorical payment amount 3
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment date 4,NaN,NaN,Theorical payment date 4
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment amount 4,NaN,NaN,Theorical payment amount 4
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment date 5,NaN,NaN,Theorical payment date 5
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Theorical payment amount 5,NaN,NaN,Theorical payment amount 5
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Created On,2023-10-06 14:12:51.183000,2023-08-30 11:25:40.333000,Created On
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Last Modified Date,2023-10-06 14:14:33.290000,2023-09-19 18:09:00.847000,Last Modified Date
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Actual Close Date,NaN,2023-09-19 00:00:00,Actual Close Date
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Assignment Date,2023-10-06 14:11:50.747000,2023-08-30 11:21:49.867000,Assignment Date
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Branch ID,SDLV,SDLV,Branch ID (we have 2 branches)